*, *::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 15px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.wrap {
  max-width: 1000px;
  width: 83vw;
  margin: 0 auto;
}

.get-started {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

.get-started input {
  padding: 10px;
  margin: 7px 0;
  border-radius: 3px;
}

.get-started input::-webkit-input-placeholder {
  color: #bfbfbf;
  font-family: 'Open Sans', sans-serif;
}

.get-started input:-ms-input-placeholder {
  color: #bfbfbf;
  font-family: 'Open Sans', sans-serif;
}

.get-started input::-ms-input-placeholder {
  color: #bfbfbf;
  font-family: 'Open Sans', sans-serif;
}

.get-started input::placeholder {
  color: #bfbfbf;
  font-family: 'Open Sans', sans-serif;
}

.get-started button {
  margin: 7px 0;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  background-color: #3065f8;
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: 0 5px 7px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 7px rgba(0, 0, 0, 0.15);
}

a:hover {
  color: #3c9f8f;
}

button:hover {
  -webkit-box-shadow: 0 0 10px #3c9f8f;
          box-shadow: 0 0 10px #3c9f8f;
  cursor: pointer;
}

.logo {
  display: block;
  width: 75px;
}

nav .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 100px;
}

nav .wrap ul {
  margin: 0;
}

nav .wrap li {
  display: inline-block;
  padding: 0 8px;
  font-size: .8rem;
}

nav .wrap li a {
  text-decoration: none;
  color: #000;
  -webkit-transition: color .3s, text-shadow .3s;
  transition: color .3s, text-shadow .3s;
}

nav .wrap li a:hover {
  color: #3c9f8f;
  text-shadow: 0 0 2px #3c9f8f;
}

nav .wrap li:last-child {
  padding-right: 0;
}

.first-sec {
  text-align: center;
}

.first-sec h2 {
  padding: 20px 0;
}

.first-sec .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-sec .wrap .sec-element {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.first-sec .wrap .get-started {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.first-sec .wrap .get-started input {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  border: 1px solid #000;
}

.first-sec .wrap .get-started input::-webkit-input-placeholder {
  padding: 10px;
}

.first-sec .wrap .get-started input:-ms-input-placeholder {
  padding: 10px;
}

.first-sec .wrap .get-started input::-ms-input-placeholder {
  padding: 10px;
}

.first-sec .wrap .get-started input::placeholder {
  padding: 10px;
}

.first-sec .wrap .get-started button {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
}

.first-sec .img-one {
  display: block;
  width: 90%;
  margin: 0 auto;
}

.img-two {
  display: block;
  width: 90%;
  margin: 0 auto 80px;
}

.second-sec {
  background-color: #f6f6fe;
  position: relative;
  margin-top: 120px;
  padding-top: 40px;
  padding-bottom: 80px;
}

.second-sec p {
  padding: 5px 0;
}

.second-sec h4 {
  padding: 15px 0;
  text-align: center;
}

.second-sec .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-sec .link {
  margin: 30px 0;
  text-align: center;
}

.second-sec .link a {
  border-bottom: 2px solid #3c9f8f;
  padding: 5px 0;
  text-decoration: none;
  color: #3c9f8f;
  -webkit-transition: text-shadow .3s;
  transition: text-shadow .3s;
}

.second-sec .link a p {
  display: inline-block;
}

.second-sec .link a img {
  vertical-align: middle;
  padding-left: 10px;
}

.second-sec .link a:hover {
  text-shadow: 0 0 3px #3c9f8f;
}

.second-sec .box {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 15px #e0e0e0;
          box-shadow: 0 0 15px #e0e0e0;
  font-size: .7rem;
  line-height: 1.2rem;
}

.second-sec .box .signature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-sec .box .signature img {
  border-radius: 50%;
  width: 25px;
}

.second-sec .box .signature p {
  font-weight: bold;
  margin-left: 8px;
  padding-bottom: 0;
  line-height: .8rem;
}

.second-sec .box .signature p span {
  font-weight: normal;
  font-size: .5rem;
}

.second-sec::before {
  content: '';
  display: block;
  width: 100%;
  height: 53px;
  position: absolute;
  top: -53px;
  background-image: url("../images/bg-curve-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
}

.third-sec {
  background-color: #585989;
  color: #fff;
  text-align: center;
  padding: 70px 0;
}

.third-sec p {
  padding: 5px 0;
}

.third-sec h4 {
  margin-bottom: 15px;
}

.third-sec .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.third-sec .wrap .sec-element {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.third-sec .get-started input {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

.third-sec .get-started button {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
}

footer {
  background-color: #070439;
  color: #ffffff;
  padding: 20px 0;
  line-height: 2.4rem;
}

footer .wrap {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .wrap .footer-element {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 40px 0 0;
}

footer .logo-footer {
  display: block;
  margin-bottom: 20px;
}

footer li {
  display: block;
}

footer a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: color .3s;
  transition: color .3s;
}

footer .footer-contact-el p, footer .footer-contact-el img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}

footer .media-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .media-icons .icon {
  border: solid 2px #fff;
  border-radius: 50%;
  margin: 5px;
  -webkit-transition: border .3s;
  transition: border .3s;
}

footer .media-icons .icon img {
  display: block;
  padding: 7px;
  width: 27px;
}

footer .media-icons .icon:hover {
  border: solid 2px #3c9f8f;
}

footer .media-icons .icon:hover > img {
  -webkit-filter: invert(52%) sepia(57%) saturate(427%) hue-rotate(121deg) brightness(93%) contrast(82%);
          filter: invert(52%) sepia(57%) saturate(427%) hue-rotate(121deg) brightness(93%) contrast(82%);
}

footer-attribution {
  background-color: #bfbfbf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

footer-attribution .attribution {
  font-size: 11px;
  text-align: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 5px;
}

footer-attribution .attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */