$colPrimVeryDarkBlue: hsl(243, 87%, 12%)
$colPrimDesaturatedBlue: hsl(238, 22%, 44%)
$colAccBrightBlue: hsl(224, 93%, 58%)
$colAccModerateCyan: hsl(170, 45%, 43%)
$colNeutLightGrayishBlue: hsl(240, 75%, 98%)
$colNeutLightGray: hsl(0, 0%, 75%)

\:root
    font-size: 16px

// ### Headings, Call-to-actions, Header Navigation
// font-family: 'Raleway', sans-serif;
// ### Body
// font-family: 'Open Sans', sans-serif;

body
    font-family: 'Open Sans', sans-serif




// Frontend Mentor Footer
footer
    position: absolute
    bottom: 0
    left: 50%
    transform: translateX(-50%)

.attribution
    font-size: 11px
    text-align: center

.attribution
    a
        color: hsl(228, 45%, 44%)
